@use '../abstract/variables';
@use '../base/typography';
@use '../abstract/mixins';

// @todo change this into cards.scss

.events {
    position: relative;
    height: 100%;
    min-height: 60rem; // @todo Subject to change
    display: flex;
    flex-direction: column;

    &__header-navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin: 1.2rem auto;

        @include mixins.media-queries('tablet') {
            flex-direction: row;
            width: 65%;
            margin: 2.4rem auto;
        }

    }

    &__nav-title {
        cursor: pointer;

        &--active {
            border-bottom: 2px solid variables.$color-green;
        }
    }

    &__title-container {
        width: auto;
        text-align: center;
        padding: 0 1.6rem;
        margin: 1.2rem auto;

        @include mixins.media-queries('tablet') {
            margin: unset;
        }

    }

    // Content Tabs
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        min-height: 10rem;
    }

    .events-component {
        position: relative;

        @include mixins.media-queries('tablet') {
            position: unset;
        }
    }

    // Helpers
    &__isInvisible {
        display: none;
    }
}
