@use '../abstract/variables';
@use '../base/typography';
@use '../abstract/mixins';

.page-404 {
    margin-bottom: 3.2rem;

    &__header {
        text-align: center;
        margin-bottom: 4rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    &__search {
        margin-bottom: 4rem;

        .passion-search-form > div {
            margin: 0 auto;
            justify-content: center;
        }
    }

    &__content {
        .categories-title {

        }

        .categories-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 2.4rem auto;
            width: 75%;

            .categories-item {
                margin: 1.6rem;
            }
        }
    }
}
