@use '../base/typography';
@use '../abstract/variables';
@use '../abstract/mixins';

.light-button {
    display: block;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: typography.$default-para-font-family;
    color: variables.$color-white;
    transition: all .25s ease-in;
    background: variables.$color-green;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

    @include mixins.link-text();

    a {
        padding: 1rem;
        display: block;
        color: variables.$color-white;
        border-radius: 2rem;

        &:visited {
            color: variables.$color-white;
        }
    }

    &--disable {
        pointer-events: none;
        opacity: .5;
        cursor: not-allowed;
    }

    &--animation {
        &:hover {
            //box-shadow: 0 .1rem 0 rgba(0, 0, 0, .5);
            //transform: translateY(-.03rem);
            opacity: .5;
        }
    }
}

.white-button {
    @include mixins.link-text();
    border-radius: variables.$border-radius-extra-large;
    background: variables.$color-white;
    text-align: center;

    a {
        display: block;
        border-radius: variables.$border-radius-extra-large;
        padding: 2rem;
        font-size: 1.25rem;
        font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;
        color: variables.$color-green;
        text-transform: uppercase;
    }
}


.hollow-button {
    @include mixins.link-text();
    border-radius: 25px;
    border: 1px solid variables.$color-green;
    text-align: center;
    background: variables.$color-white;
    color: variables.$color-white;
    transition: all .25s ease-in-out;

    a {
        display: block;
        font-family: typography.$default-para-font-family;
        color: variables.$color-green;
        font-size: 1.6rem;
        padding: 1rem;
        transition: all .25s ease-in-out;
        border-radius: 25px;
    }

    &:hover {
        background: variables.$color-green;
        color: variables.$color-white;

        a {
            color: variables.$color-white;

            &:visited,
            &:focus {
                color: variables.$color-white;
            }
        }
    }
}

.green-button-square {
    @include mixins.link-text();
    border-radius: 0;
    border: 1px solid variables.$color-green;
    text-align: center;
    background: variables.$color-green;
    color: variables.$color-white;
    font-family: typography.$default-header-font-family;
    transition: all .25s linear;

    a {
        color: variables.$color-green;
    }

    &:hover {
        background: variables.$color-green;
        color: variables.$color-white;

        a {
            color: variables.$color-white;
        }
    }
}

// @see https://codepen.io/fox_hover/pen/bqZxLa
$button-bg-5: #f28123;
$border-radius: 6px;
$overlay-color: #ffffff;

.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: variables.$color-white;
    background: $button-bg-5;
    text-transform: capitalize;

    font-family: typography.$default-header-font-family;
    font-size: 1rem;
    padding: 1.5rem .1rem;
    width: 10rem;
    border-radius: $border-radius;
    overflow: hidden;
}

.effect.effect-5 {
    transition: all 0.2s linear 0s;

    &::before {
        content: "\f054";
        font-family: 'FontAwesome', 'Arial', 'Helvetica', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 30px;
        background-color: rgba(variables.$color-white, .3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }

    &:hover {
        text-indent: 30px;
        color: variables.$color-white;

        &::before {
            transform: scale(1, 1);
            text-indent: 0;
        }
    }
}

.rounded-button {
    border-radius: 3px;
}

.default-button {
    display: block;
    border: solid 1px variables.$base-dark-grey;
    border-radius: 3px;
    background: transparent;
}

.rounded-button-solid {
    @include mixins.rounded-button(1rem);
}

.rounded-button-hollow {
    @include mixins.rounded-button-fixed(1rem, 14rem, false, true, true, 3rem);
}

.square-right-button-solid {
    @include mixins.rounded-button(1rem, true, 1.1rem, false, true, 5px);
}
