@use '../abstract/variables';
@use '../base/typography';
@use '../abstract/mixins';

.home-slider {

    .slide-container {
        display: flex;
        justify-content: center;
        align-items: center;
        //max-width: 1000px;
        margin: auto;
        position: relative;
    }

    .slide-container .slide {
        display: none;
        width: 100%;
    }

    .slide-container .slide.fade {
        animation: fade 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    }

    .slide-container .slide img {
        width: 100%;
        object-fit: cover;
        height: auto;
        max-width: 100%;
        max-height: 600px;
    }

    .slide-container .prev,
    .slide-container .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 1.6rem;
        transition: all 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
    }

    .slide-container .prev:hover,
    .slide-container .next:hover {
        background-color: variables.$color-green;
        color: white;
    }

    .slide-container .prev {
        left: 2px;
    }

    .slide-container .next {
        right: 2px;
    }

    .pagination {
        background: #0a0a0a;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            width: 100%;
            justify-content: center;

            li {
                color: variables.$color-white;
                cursor: pointer;
                padding: .8rem 1.6rem;

                &.active {
                    background: variables.$color-green;
                }
            }
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
