// Up for change
$base-grey: rgba(0, 0, 0, .05);
$base-mid-grey: rgba(0, 0, 0, .5);
$base-dark-grey: rgba(0, 0, 0, .75);

// Based on http://paletton.com/#uid=3370u0kq1vjg4HLlh-1uJrnwAls
// Greens
$color-lightest-green: #65ccaa;
$color-light-green: #3cb48d;
$color-green: #1fa67a;
$color-dark-green: #069163;
$color-darkest-green: #00724c;

// Yellows
$color-lightest-yellow: #ffcc7f;
$color-light-yellow: #ffbb55;
$color-yellow: #f9a82f;
$color-dark-yellow: #da8609;
$color-darkest-yellow: #ab6600;

// Reds
$color-lightest-red: #f27995;
$color-light-red: #ed4f74;
$color-red: #e52b56;
$color-dark-red: #c80835;
$color-darkest-red: #9d0025;

$color-default: #455A64;
$blue-grey: #607D8B;
$color-light-grey: #a1aeb7;
$color-background: #f2f5f7;


// Third Party
$color-twitter: #1da1f2;
$color-facebook: #0078ff;
$color-instagram: #e1306c;
$color-youtube: #ff0000;

// Text Colors
$color-white: #ffffff;
$color-black: #000000;

// Content
$max-width: 1440px;
$border-radius-small: 4px;
$border-radius-extra-large: 4rem;

// Animations
$spinner-offset: 187;
$spinner-duration: 1.4s;
